.artid{
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    background-color: bisque;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.detailsid{
    padding: 0px 25px;
    width: 50%;
}

.imgArtid{
    width: 400px;
    padding: 15px 5px;
    background-color: white;
    border-radius: 5px;
}